@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Source+Serif+Pro:ital,wght@1,600&display=swap');

.shopping-info {
  font-size: 13px;
}

.un-list {
  list-style-type: none;
  margin-left: 60px;
}

.description {
  // box-shadow: 2px 2px 5px #888888;
  height: 375px;
  font-family: 'Source Serif Pro', serif, 'Dancing Script', cursive;
  line-height: 2.5;
  font-size: 18px;
}
.btn {
  border-radius: 4px;
}
.contents {
  // box-shadow: 2px 2px 5px #888888;
}
.quotes {
  font-family: 'Source Serif Pro', serif, 'Dancing Script', cursive;
  letter-spacing: 0.1em;
}

.art-name {
  font-family: 'Source Serif Pro', serif, 'Dancing Script', cursive;
  margin-left: 70px;
  font-size: 23px;
}

// .image img {
//   width: 100%;
//   height: 95%;
// }


