<div class="container font-oswald full-page">
<h3 class="d-flex justify-content-center font-oswald mt-4"><%= @art.name %></h3>

  <%= simple_form_for [@art, @purchase] do |f| %>
    <div class="form mt-1" style="display: flex; flex-direction: column;">
      <label for="">Card Holder Name</label>
      <input class="bottom-change" name="purchase[card_holder_name]" type="Card Number" placeholder="Enter Card Number">
      <label for="">Card Number</label>
      <input class="bottom-change" name="purchase[card_number]" type="Card Number" placeholder="Enter Card Number">
      <label for="" >Expiration Date</label>
      <input class="bottom-change" name="purchase[expiration_date]" type="Expiration" placeholder="MM / YY">
      <label for="" >Security Code (CVV)</label>
      <input class="bottom-change" name="purchase[security_code]" type="Expiration" placeholder="XXX">
    </div>

    <div class="fr">
      <%= f.button :submit, class: "btn new-button middle-button" %>
    </div>

    <div class="fr">
      <%= link_to 'Back', art_path(@art), class: "btn hide-button middle-button" %>
    </div>

  <% end %>
</div>
