<div class="footer justify-content-center font-oswald">
  <p class="footer-content">A MARZ Production</p>
  <p class="footer-content">|</p>
  <div class="icons" style="display:flex;">
    <p><i class="fab fa-facebook-square"></i></p>
    <p><i class="fab fa-instagram"></i></p>
    <p><i class="fab fa-pinterest-square"></i></p>
    <p><i class="fab fa-twitter-square"></i></p>
  </div>
</div>
