<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-item active carousel-photo-1">
    <div class="carousel-inner-1 ">
      <%= link_to "Buy Art", arts_path, class: "carousel-text" %>
    </div>
  </div>
  <div class="carousel-item carousel-photo-2 carousel-text">
    <div class="carousel-inner-1">
      <%= link_to "Sell Art",  new_user_session_path, class: "carousel-text" %>
    </div>
  </div>
<<<<<<< HEAD
  <% if @art %>
    <div class="carousel-item carousel-photo-3 carousel-text">
        <div class="carousel-inner-1">
        <%= link_to "Get Lucky", art_path(@art), class: "carousel-text" %>
        </div>
=======
  <div class="carousel-item carousel-photo-3 carousel-text">
    <div class="carousel-inner-1">
      <%= link_to "Get Lucky", arts_path, class: "carousel-text" %>
>>>>>>> 6adf66f94166a62fdb4de7375423ce15121cf49b
    </div>
  <% end %>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
