<h2 class="m-4" style="text-align:center">About me</h2>

<div class="card">

  <% if current_user.photo.attached? %>
    <img src="<%= cl_image_path current_user.photo.key %>" alt="profile pic" style="width:100%" class="mb-4">
  <% else %>
    <img src="https://www.kindpng.com/picc/m/22-223930_avatar-person-neutral-man-blank-face-buddy-facebook.png" alt="profile pic" style="width:100%" class="mb-4">
  <% end %>

  <p>Purchase History</p>

</div>
