.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 2px 2px 4px 0px rgba(51, 51, 51, 0.349);
  border: white;
}

.drop-down-arrow {
  position: absolute;
  right: 20px;
  top: 35px;
  color: black;
  font-size: 24px;
  box-shadow: 2px 2px 4px 0px rgba(255, 255, 255, 0.349);
}
