.arts-cards {
  margin: 0 60px;
  border: transparent;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: center;
}

.content {
  padding: 8px;
  color: black;
}

.art-card {
  background-color: transparent;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.2);
  width: calc(100% - 40px);
  margin: 20px;
  height: 450px;
  border-radius: 4px;
}

#photo {
  display: flex;
  width: 100%;
  border: 2px solid rgb(44, 44, 44);
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}