.arts-cards {
  margin: 80px;
  height: 400px;
  width: 300px!important;
  background-color: transparent;
  border: transparent;
  display: flex;
}

.arts-cards img {
  height: 370px;
  width: 300px;
}

.content {
  padding: 8px;
  color: black;
}