.carousel-item {
  background-size: cover;
  background-position: center;
  height: 100%;
}

.carousel-inner-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.carousel{
  height: 75vh
}

.carousel-photo-1{
  background-image: url('filip-kominik-IHtVbLRjTZU-unsplash.jpg')
}

.carousel-photo-2{
  background-image: url('jonny-caspari-KuudDjBHIlA-unsplash.jpg')
}

.carousel-photo-3{
  background-image: url('leonardo-yip-QCVsZR6kfp4-unsplash.jpg')
}

.carousel-text{
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 100px;
}
