.footer {
  background: rgb(249, 249, 249);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  color: #707070;
  left: 0;
  width: 100%;
  border-top: 1px solid lightgrey;
  position: relative;
  bottom: 0;
}

.footer .fa-heart {
  color: #D23333;
}

.full-page{
  min-height: calc(100vh - 96px - 100px);
}

.footer .footer-content {
  padding: 18px 16px;
}

.icons > p {
  padding: 4px;
}
