// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "filter";
@import "header";
@import "myprofile";
@import "card";
@import "carousel";
@import "footer";

body {
  background-color: white;
}

#filter-search-bar {
  background-color: #D2D1CF;
  box-shadow: 2px 2px 4px 0px rgba(182, 182, 182, 0.2);
}

#page-info {
  text-align: center;
  margin: 80px 0 40px 0;
  color: grey;
  font-family: 'Montserrat', sans-serif;
}
