// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "filter";
@import "header";
@import "card";
@import "carousel";


body {
  background-color: #D2D1CF;
}

#page-info {
  margin: 32px;
}

.grid-container {
  display: inline-grid;
}

#line {
  border: solid 2px black;
  width: 900px;
  margin: 24px;
}
