.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin: auto;
  text-align: center;
}

.profile-card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.profile-card-product img {
  width: 120px;
  height: 100%;
  object-fit: cover;
}

.profile-card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.profile-card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.profile-card-product .profile-card-product-infos {
  padding: 16px;
}

// go to top

#back-to-top {
    background: none repeat scroll 0 0 #333333;
    border-radius: 3px;
    bottom: 20px;
    color: #FFFFFF;
    display: none;
    font-size: 18px;
    height: 30px;
    line-height: 28px !important;
    opacity: 0.8;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 30px;
}

