.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 96px;
  position: relative;
  border-bottom: 4px solid black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
  margin-left: 20px;
}

#search-bar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between!important;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 48px;
}

#search-bar button {
  margin: -10px;
  background-color: #E0E0E0;
  color: grey;
  border-color: transparent;
  width: 50px;
}

#search-bar input {
  margin: 0;
  background-color: #E0E0E0;
  border-color: #E0E0E0;
  width: 500px;
}

.logo {
  height: 400px;
  width: 800px;
}

.register-buttons {
  position: absolute;
  top: 35px!important;
  right: 110px!important;
}
