.navbar-lewagon {
  justify-content: space-between;
  background: #D2D1CF;
  box-shadow: 2px 2px 4px 0px rgba(141, 141, 141, 0.4);
  height: 96px;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

#search-bar {
  position: absolute;
  top: 35px!important;
  right: 150px!important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  flex-wrap: nowrap;
}

#search-bar > button {
  width: 50%;
  margin: 0;
}

#search-bar > input {
  width: 50%;
  margin: 0;
}
